<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="9f07e2fa-4fa6-4676-857e-a10d8ee2eaa9"
            Publisher="CN=z00h800459"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>XFEmbeddSQLiteFile.Windows</DisplayName>
    <PublisherDisplayName>z00h800459</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="XFEmbeddSQLiteFile.Windows.App">
      <m2:VisualElements
          DisplayName="XFEmbeddSQLiteFile.Windows"
          Square150x150Logo="Assets\Logo.png"
          Square30x30Logo="Assets\SmallLogo.png"
          Description="XFEmbeddSQLiteFile.Windows"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>